body {
    background-image: url('fotos/foodback.jpg');
    background-size: cover;
    background-position: top;
    color: #fff;
    margin: 0;
}

.container {
    width: 50%;
    margin: auto;
    padding: 2%;
    text-align: center;
}

h1 {
    font-size: 3vw;
    margin-bottom: 2%;
}

.login-form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2%;
    border-radius: 10px;


    .container {
        width: 80%;
        margin: auto;
        padding: 2%;
        text-align: center;
    }

    .login-form {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 2%;
        border-radius: 10px;
        margin: 0 auto;
        max-width: 400px;
    }

    @media (max-width: 600px) {
        .login-form {
            max-width: 60%;
        }
    }

    margin: 0 auto;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 96%;
    padding: 2%;
    margin-bottom: 2%;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

.login-form input[type="submit"] {
    width: 99%;
    padding: 2%;
    border: none;
    border-radius: 5px;
    background-color: #ff9800;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: #f57c00;
}